.carousel {
    @media only screen and (min-width: 768px) {
        display: none;
    }
    position: relative;
    overflow: hidden;
    .title {
        padding: 1.5rem 1.5rem 0;
    }
    .carousel-item-wrapper {
        width: 500%;
        height: 400px;
        .carousel-arrow-left {
            text-decoration: none;
            position: absolute;
            z-index: 1;
            height: inherit;
            width: 70px;
            &:hover {
                background-color: #ccc;
                opacity: 0.3;
                span {opacity: 1;}
            }
            span {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                float: left;
            }
            left: 0;
        }
        .carousel-arrow-right {
            text-decoration: none;
            position: absolute;
            z-index: 1;
            height: inherit;
            width: 70px;
            &:hover {
                background-color: #ccc;
                opacity: 0.3;
                span {opacity: 1;}
            }
            span {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                float: right;
            }
            right: 0;
        }
        .carousel-item {
            width: 20%;
            display: inline-block;
            background-color: $dark;
            transition: transform 0.5s;
            height: inherit;

            .carousel-content {
                width: 260px;
                height: inherit;
                margin: auto;

                a { width: inherit; }

                .carousel-content-image {
                    display: inline-block;
                    position: absolute;
                    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
                }

                .carousel-content-info {
                    width: inherit;
                    display: inline-block;
                    position: absolute;
                    bottom: 0;
                    background-color: findColorInvert($light);
                    color: $light;
                    padding: 10px;
                }
            }
        }
    }
}