@import "~bulma";
@import "./background";
@import "./carousel";

.footer {
    @media only screen and (max-width: 768px) {
        background-color: $black;
    }
    background-color: $dark;
    a:hover { color: findColorInvert($dark); }
    p { color: findColorInvert($dark); }
}